body {
  font-family: 'cambria',monospace;
  min-height: 400px;
  background-image: url('https://img2.apksum.com/10/com.mandacaru.trisna.blocodenotas/1.1.2/icon.png');
  background-color:#293E56;
  background-size: 70vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title { 
  color:#ffffff;
  margin: 0 0 5px;
  font-weight: 900 !important;
  font-size: 30px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}